@{
    ViewData["Title"] = "layouttest";
    Layout = null;
}
<div id="root"></div>
<script src="~/lib/react/umd/react.development.js"></script>
<script src="~/lib/react-dom/umd/react-dom.development.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/babel-standalone/babel.js"></script>
<script src="@Url.Content("~/views/Shared/layout.jsx")"></script>
